# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib & Seaborn
5. TenserFlow & PyTorch
6. NLTK & StatsModels

|Data Science Tools|
|------------------|
|python|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Python
- R
- SQL

## Author
Daksha S